body, html {
  background-color: #f0f0f0;
  height: 100%;
  margin: 0;
}

canvas {
  width: 78.3%;
  padding: 10px;
  padding-bottom: 0;
  min-width: 778px;
}

#button_cont {
  /*border-top: 5px solid gray;*/
  background-color: white;
  padding: 10px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 78.3%;
  min-width: 778px;
  height: 50px;
  margin-bottom: 0;
}
.sort_button {
  font-family: "Helvetica";
  opacity: 0.75;
  color: white;
  background-color: #ff8400;
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  transition: 0.5s;
  vertical-align: top;
}
.sort_button:hover {
  opacity: 1;
  cursor: pointer;
}
#refresh {
  display: inline-block;
  background-color: #f0f0f0;
  width: 40px;
  padding-top: 6px;
  height: 30px;
  color: black;
  margin-right: 15px;
  border: 2px solid black;
  border-radius: 6px;
}
#refresh:hover i {
  transition: 1s;
  transform: rotateZ(360deg);
}

#size_container {
  width: 200px;
  height: 40px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: top;
}
#label {
  background-color: #f0f0f0;
  height: 36px;
  border: 2px solid #ff8400;
  border-right: none;
  border-radius: 6px 0 0 6px;
  width: 50px;
  display: inline-flex;
  vertical-align: top;
  margin: 0;
}
#label span {
  font-family: "Helvetica";
  color: black;
  margin: auto;
}
input[type=text] {
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: 75px;
  height: 36px;
  border: 2px solid #ff8400;
  border-left: none;
  border-right: none;
  font-family: "Helvetica";
  font-size: 16px;
  text-align: center;
  vertical-align: top;
}

#incr_cont {
  display: inline-block;
  width: 25px;
  height: 36px;
  vertical-align: top;
  border: 2px solid #ff8400;
  border-left: none;
  border-radius: 0 6px 6px 0;
  margin: auto;
}
.incrementor {
  width: 25px;
  height: 18px;
  display: block;
  background-color: #f0f0f0;
  text-align: center;
}
.incrementor:hover {
  transition: 0.5s;
  background-color: white;
}
#up:hover i {
  animation-duration: 0.35s;
  animation-timing-function: ease-in;
  animation-name: up;
}
#down:hover i {
  animation-duration: 0.35s;
  animation-timing-function: ease-in;
  animation-name: down;
}
@keyframes up {
  50% {transform: translate(0, -3px);}
}
@keyframes down {
  50% {transform: translate(0, 3px);}
}
